@page "/loans/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit</h3>
<FormComponent ButtonText="Update" OnValidSubmit="@EditLoan" loan="loan" />

@code {
    [Parameter] public int id { get; set; }
    Loan loan = new Loan();

    protected async override Task OnParametersSetAsync()
    {
        loan = await _client.GetFromJsonAsync<Loan>($"{Endpoints.LoansEndpoint}/{id}");
    }

    async Task EditLoan()
    {
        await _client.PutAsJsonAsync($"{Endpoints.LoansEndpoint}/{id}", loan);
        _navManager.NavigateTo("/loans/");
    }
}
